<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuafu.web.mapper.DeviceControlLogAllMapper">
    <sql id="device_control_log_list_sql">
        select
        dcl.user_info_user_info_id_1   ,
        dcl.create_time   ,
        dcl.action_type   ,
        shd.smart_device_type_enum_smart_device_type_enum_id_1   ,
        shd.is_on   ,
        ui.role_enum_role_enum_id_1   ,
        shd.current_value   ,
        shd.room_name   ,
        shd.last_update_time   ,
        dcl.smart_home_device_smart_device_id_1   ,
        shd.device_name   ,
        ui.password   ,
        shd.brightness   ,
        dcl.device_control_log_id   ,
        shd.smart_device_status_enum_smart_device_status_enum_id_1   ,
        dcl.action_value   ,
        shd.user_info_user_info_id_1  as user_info_user_info_id_1_shd  ,
        ui.phone_number   ,
        ui.username   


        FROM device_control_log dcl
        left join smart_home_device shd on dcl.smart_home_device_smart_device_id_1 = shd.smart_device_id
        left join user_info ui on dcl.user_info_user_info_id_1 = ui.user_info_id

        </sql>

        <resultMap id="selectListNewMap" type="com.kuafu.web.entity.DeviceControlLogAll">

        <result property="userInfoUserInfoId1" column="user_info_user_info_id_1"/>

        <result property="createTime" column="create_time"/>

        <result property="actionType" column="action_type"/>

        <result property="smartDeviceTypeEnumSmartDeviceTypeEnumId1" column="smart_device_type_enum_smart_device_type_enum_id_1"/>

        <result property="isOn" column="is_on"/>

        <result property="roleEnumRoleEnumId1" column="role_enum_role_enum_id_1"/>

        <result property="currentValue" column="current_value"/>

        <result property="roomName" column="room_name"/>

        <result property="lastUpdateTime" column="last_update_time"/>

        <result property="smartHomeDeviceSmartDeviceId1" column="smart_home_device_smart_device_id_1"/>

        <result property="deviceName" column="device_name"/>

        <result property="password" column="password"/>

        <result property="brightness" column="brightness"/>

        <result property="deviceControlLogId" column="device_control_log_id"/>

        <result property="smartDeviceStatusEnumSmartDeviceStatusEnumId1" column="smart_device_status_enum_smart_device_status_enum_id_1"/>

        <result property="actionValue" column="action_value"/>


        <result property="phoneNumber" column="phone_number"/>

        <result property="username" column="username"/>




        </resultMap>

<select id="selectListNew"  resultMap="selectListNewMap">
select
dcl.user_info_user_info_id_1   ,
dcl.create_time   ,
dcl.action_type   ,
shd.smart_device_type_enum_smart_device_type_enum_id_1   ,
shd.is_on   ,
ui.role_enum_role_enum_id_1   ,
shd.current_value   ,
shd.room_name   ,
shd.last_update_time   ,
dcl.smart_home_device_smart_device_id_1   ,
shd.device_name   ,
ui.password   ,
shd.brightness   ,
dcl.device_control_log_id   ,
shd.smart_device_status_enum_smart_device_status_enum_id_1   ,
dcl.action_value   ,
shd.user_info_user_info_id_1  as user_info_user_info_id_1_shd  ,
ui.phone_number   ,
ui.username   



        FROM device_control_log dcl
        left join

        smart_home_device

        shd on dcl.smart_home_device_smart_device_id_1 = shd.smart_device_id
        left join

        user_info

        ui on dcl.user_info_user_info_id_1 = ui.user_info_id



${ew.customSqlSegment}
        </select>

<select id="selectList" resultType="com.kuafu.web.entity.DeviceControlLogAll">
select
dcl.user_info_user_info_id_1   ,
dcl.create_time   ,
dcl.action_type   ,
shd.smart_device_type_enum_smart_device_type_enum_id_1   ,
shd.is_on   ,
ui.role_enum_role_enum_id_1   ,
shd.current_value   ,
shd.room_name   ,
shd.last_update_time   ,
dcl.smart_home_device_smart_device_id_1   ,
shd.device_name   ,
ui.password   ,
shd.brightness   ,
dcl.device_control_log_id   ,
shd.smart_device_status_enum_smart_device_status_enum_id_1   ,
dcl.action_value   ,
shd.user_info_user_info_id_1  as user_info_user_info_id_1_shd  ,
ui.phone_number   ,
ui.username   


        FROM device_control_log dcl
        left join smart_home_device shd on dcl.smart_home_device_smart_device_id_1 = shd.smart_device_id
        left join user_info ui on dcl.user_info_user_info_id_1 = ui.user_info_id


${ew.customSqlSegment}
        </select>

<select id="selectPage" resultType="com.kuafu.web.entity.DeviceControlLogAll">
select
dcl.user_info_user_info_id_1  ,
dcl.create_time  ,
dcl.action_type  ,
shd.smart_device_type_enum_smart_device_type_enum_id_1  ,
shd.is_on  ,
ui.role_enum_role_enum_id_1  ,
shd.current_value  ,
shd.room_name  ,
shd.last_update_time  ,
dcl.smart_home_device_smart_device_id_1  ,
shd.device_name  ,
ui.password  ,
shd.brightness  ,
dcl.device_control_log_id  ,
shd.smart_device_status_enum_smart_device_status_enum_id_1  ,
dcl.action_value  ,
shd.user_info_user_info_id_1  as user_info_user_info_id_1_shd ,
ui.phone_number  ,
ui.username  



        FROM device_control_log dcl
        left join smart_home_device shd on dcl.smart_home_device_smart_device_id_1 = shd.smart_device_id
        left join user_info ui on dcl.user_info_user_info_id_1 = ui.user_info_id





${ew.customSqlSegment}
        </select>

<select id="selectById" resultType="com.kuafu.web.entity.DeviceControlLogAll">
select
dcl.user_info_user_info_id_1  ,
dcl.create_time  ,
dcl.action_type  ,
shd.smart_device_type_enum_smart_device_type_enum_id_1  ,
shd.is_on  ,
ui.role_enum_role_enum_id_1  ,
shd.current_value  ,
shd.room_name  ,
shd.last_update_time  ,
dcl.smart_home_device_smart_device_id_1  ,
shd.device_name  ,
ui.password  ,
shd.brightness  ,
dcl.device_control_log_id  ,
shd.smart_device_status_enum_smart_device_status_enum_id_1  ,
dcl.action_value  ,
shd.user_info_user_info_id_1  as user_info_user_info_id_1_shd ,
ui.phone_number  ,
ui.username  


        FROM device_control_log dcl
        left join smart_home_device shd on dcl.smart_home_device_smart_device_id_1 = shd.smart_device_id
        left join user_info ui on dcl.user_info_user_info_id_1 = ui.user_info_id



        where dcl.device_control_log_id = #{id}
        </select>

<select id="selectCount" resultType="java.lang.Long">
select
count(*)



FROM device_control_log dcl
left join smart_home_device shd on dcl.smart_home_device_smart_device_id_1 = shd.smart_device_id
left join user_info ui on dcl.user_info_user_info_id_1 = ui.user_info_id



${ew.customSqlSegment}


        </select>

        </mapper>
